html, body {
    text-align: center;

}

header {
    width: 100%;
    height: 100%;

}
section {
    height: 100%;

}
main {
    float: left;
    width: 75%;

}

aside {
    float:right;
    width: 25%;
    top: 87px;
    height: 100%;
    overflow: hidden;
    padding-bottom: 300px;
}
footer {
    clear: both;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 87px;
    

}
